@font-face {
  font-family: 'AvenirLTStd';
  src: local('AvenirLTStd'), url(../fonts/AvenirLTStd-Book.otf) format('opentype');
  src: local('AvenirLTStd'), url(../fonts/AvenirLTStd-Light.otf) format('opentype');
  src: local('AvenirLTStd'), url(../fonts/AvenirLTStd-Roman.otf) format('opentype');
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url(../fonts/Raleway-Regular.ttf) format('truetype');
  src: local('Raleway'), url(../fonts/Raleway-ExtraBold.ttf) format('truetype');
  src: local('Raleway'), url(../fonts/Raleway-Black.ttf) format('truetype');
}
.hide{
  display: none;
}
html, body{
  max-width: 1440px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;}
section{
  margin-bottom: 100px;}
  @media (min-width: 700px) {
    section {
      margin-bottom: 160px;} }
  @media (min-width: 1024px) {
    section {
      margin-bottom: 220px;;} }
h1{
  font-family: 'AvenirLTStd', Arial, sans-serif;
  font-size: 35px;
  color: #FDFCF3;
  text-shadow: 2px 2px 8px #332531;
}
h2{
  font-family: 'Raleway-ExtraBold', Tahoma, sans-serif;
  text-align: center;
  color: #EC6A12;
  font-size: 20px;
  line-height: 25px;}
  @media (min-width: 700px) {
    h2 {
      font-size: 26px;
      line-height: 30px;} }
  @media (min-width: 1024px) {
    h2 {
      font-size: 35px;
      line-height: 40px;} }
h4{
  font-family: 'AvenirLTStd', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  color: #FFF8F2;
  line-height: 18px;
  text-align: center;}
  @media (min-width: 700px) {
    h4 {
      line-height: 20px;} }
  @media (min-width: 1024px) {
    h4 {
      font-size: 16px;
      line-height: 20px;} }
  h5{
    font-family: 'AvenirLTStd', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 2px;
    color: #664363;
    line-height: 14px;
    text-align: center;
    padding: 0;  }
    @media (min-width: 700px) {
      h5 {
        font-size: 14px;
        line-height: 14px;} }
    @media (min-width: 1024px) {
      h5 {
        font-size: 16px;
        line-height: 14px;
        } }
p{
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #332531;
  font-size: 12px;
  line-height: 16px;
  text-align: center;}
  @media (min-width: 700px) {
    p {
      font-size: 14px;
      line-height: 20px;} }
  @media (min-width: 1024px) {
    p {
      font-size: 18px;
      line-height: 24px;} }
a.main-link{
    font-family: 'AvenirLTStd', Arial, sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    color: #664363;
    text-align: center;
    color: #332531;
    text-decoration: none;
    border: 1px solid #332531;
    border-radius: 10px;
    width: 100%;
    padding: 6px 10px;
    transition: all 0.5s; }
    a.main-link:hover{
      color: #fff;
      background-color: #644E53;}
    @media (min-width: 700px) {
      a.main-link{
        font-size: 12px;
        line-height: 16px;
        padding: 10px 16px;
        margin-top: 200px;} }
    @media (min-width: 1024px) {
      a.main-link{
        } }

/* MAIN MENU CSS */

.topnav {
  background-color: #332531;
  overflow: hidden;}
.topnav a {
  float: right;
  display: block;
  font-family: 'AvenirLTStd', Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  background-color: #332531;
  border: none;
  padding: 18px 24px;}
.active {
  background-color:  #423040;}
.topnav .icon {
  display: none;}
.dropdown {
  float: right;
  overflow: hidden;}
.dropdown .dropbtn {
  font-family: 'AvenirLTStd', Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  background-color: #332531;
  border: none;
  padding: 18px 24px;
  margin: 0;}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #332531;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;}
.dropdown-content a {
  float: none;
  color: #fff;
  background-color: #332531;
  padding: 18px;
  text-decoration: none;
  display: block;
  text-align: left;}
.topnav a:hover, .dropdown:hover .dropbtn {
  text-decoration: underline;
  background-color: #423040;}
.dropdown-content a:hover {
  text-decoration: underline;}
.dropdown:hover .dropdown-content {
  display: block;}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;}
  .topnav a.icon {
    float: left;
    display: block; } }
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;}
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;}
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;} }


/* FOOTER CSS */


.footer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: #332531;
  padding: 6% 0px;}
div.footer > div{
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  justify-content: center;
  padding: 0px 10px;
  max-width: 120px;}
  @media (min-width: 700px) {
    div.footer > div {
      padding: 0px 20px;
      justify-content: left;
      max-width: 130px;} }
  @media (min-width: 1024px) {
    div.footer > div {
      max-width: 130px;
      padding: 0px 30px;} }
div.footer a{
  font-family: 'AvenirLTStd', Arial, sans-serif;
  font-weight: 500;
  font-size: 10px;
  text-decoration: none;
  color: #fff;
  padding: 8px 0px;}
  @media (min-width: 700px) {
    div.footer a{
      padding: 8px 10px 8px 0px;} }
  @media (min-width: 1024px) {
    div.footer a{
      font-weight: 500;
      font-size: 12px;} }

/* STUDENT TEMPLATED PAGES */

/* SPLASH IMAGE */

.splashMedia-block{
  background-color: #332531;
  margin-bottom: 0px;
}
.hero-image{
  width: 100%;
  position: relative;
  opacity: .5;
}
div.tagline-item{
  margin-top: -120px;
  padding-bottom: 40px;
  position: relative;
  }
  @media (min-width: 700px) {
    div.tagline-item{
      width: 100% !important;
      text-align: center;
      margin-top: 0px;
      padding-bottom: 0px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0 auto;} }
    @media (min-width: 1024px) {
      div.tagline-item{
        width: 100% !important;
        text-align: center;
        margin-top: 0px;
        padding-bottom: 0px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;} }
.tagline-item h1{
  font-family: 'Raleway-ExtraBold', sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0px;
  margin-top: -10px;}
  @media (min-width: 700px) {
    .tagline-item h1 {
      position: absolute;
      font-size: 40px;
      font-weight: 900;
      color: #FDFCF3;
      padding: 0px 10px;
      text-align: center !important;
      margin: -100px auto 0px auto !important;
      text-shadow: 2px 2px 8px #332531;
      overflow: hidden;
      animation: animate 15s ease-in infinite;
      opacity: 0; } }
    @media (min-width: 1024px) {
      .tagline-item h1 {
        font-size: 60px;
        margin: 0 auto !important;} }
      .tagline-item h1:nth-child(1) {
        animation-delay: 0s; }
      .tagline-item h1:nth-child(2) {
        animation-delay: 3s; }
      .tagline-item h1:nth-child(3) {
        animation-delay: 6s; }
      .tagline-item h1:nth-child(4) {
        animation-delay: 9s; }
      .tagline-item h1:nth-child(5) {
        animation-delay: 12s; }
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(-40px); }
  2% {
    opacity: 1;
    transform: translateY(0); }
  18% {
    opacity: 1;
    transform: translateY(0); }
  20% {
    opacity: 0;
    transform: translateY(40px); } }

/* CONCENTRATION SUMMARY */
.concentrationSummary-block{
  margin: 0;
  padding: 0px 10px;
  background-image: url("../images/bg-shape1.png");
  background-position: right;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 160px 20px;}
  @media (min-width: 700px) {
    .concentrationSummary-block{
      background-size: 60% 100%;
      padding: 100px 20px;} }
  @media (min-width: 1024px) {
    .concentrationSummary-block{
      padding: 160px 60px 200px 60px;} }
.concentrationSummary-block h2{
  margin-bottom: 0px;
  font-size: 30px;}
  @media (min-width: 700px) {
    .concentrationSummary-block h2{
      margin-bottom: 0px;
      font-size: 40px;} }
  @media (min-width: 1024px) {
    .concentrationSummary-block h2{
      font-size: 50px;} }
.concentrationSummary-block p{
  font-size: 16px;
  line-height: 20px;}
  @media (min-width: 700px) {
    .concentrationSummary-block p{
      font-size: 20px;
      line-height: 25px;} }
  @media (min-width: 1024px) {
    .concentrationSummary-block p{
      font-size: 24px;
      line-height: 30px;} }

/* WHAT DOES IT MEAN BLOCK */

.whatDoesItMean-block{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  background-image: url("../images/bg-shape2.png");
  background-position: left;
  background-size: 60% 100%;
  background-repeat: no-repeat;}
  @media (min-width: 700px) {
    .whatDoesItMean-block{
      padding: 100px 60px 180px 0px;
      flex-wrap: nowrap;
      } }
  @media (min-width: 1024px) {
    .whatDoesItMean-block{
      padding: 100px 60px 180px 0px;
      margin-top: -100px;
      } }
.whatDoesItMean-block div.meaning-image-background{
  background-image: url("../images/blob-shape1-dark.svg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 80px 20px;
  }
  @media (min-width: 700px) {
    .whatDoesItMean-block div.meaning-image-background{
      background-size: contain;
      padding: 80px 50px;} }
  @media (min-width: 1024px) {
    .whatDoesItMean-block div.meaning-image-background{
      } }
.whatDoesItMean-block div{
  width: 100%;
  padding: 0px;}
  @media (min-width: 700px) {
    .whatDoesItMean-block div{
      padding: 0px 10px 0px 2%;} }
  @media (min-width: 1024px) {
    .whatDoesItMean-block div{
      max-width: 50%;
      padding: 0px 10px 0px 5%;} }
.whatDoesItMean-block img.meaning-image{
  max-width: 80%;
  position: relative;
  left: 0;
  border-radius:39% 61% 47% 53% / 48% 66% 34% 52% ;}
  @media (min-width: 700px) {
    .whatDoesItMean-block img.meaning-image{
      position: static;
      } }
  @media (min-width: 1024px) {
    .whatDoesItMean-block img.meaning-image{
      max-width: 500px;} }
.whatDoesItMean-block img.meaning-logo{
  max-width: 35%;
  position: relative;
  float: right;
  margin-top: -140px;
  padding-right: 5%;}
  @media (min-width: 700px) {
    .whatDoesItMean-block img.meaning-logo{
      max-width: 100px;
      padding: 0px;
      margin-top: -140px;} }
  @media (min-width: 1024px) {
    .whatDoesItMean-block img.meaning-logo{
      max-width: 150px;
      padding: 0px;
      margin-top: -180px;} }
.whatDoesItMean-block h2{
  text-align: left;
  padding: 0 8%;}
  @media (min-width: 700px) {
    .whatDoesItMean-block h2{
      margin-top: 50px;
      padding: 0 4%;} }
  @media (min-width: 1024px) {
    .whatDoesItMean-block h2{
      margin-top: 80px;
      padding: 0 2%;} }
.whatDoesItMean-block p{
  text-align: left;
  padding: 0 8%;}
  @media (min-width: 700px) {
    .whatDoesItMean-block p{
      padding: 0 4%;} }
  @media (min-width: 1024px) {
    .whatDoesItMean-block p{
      padding: 0 2%;} }



/* CAREER BLOCKS */

.career-block{
  margin-top: 100px;
}
@media (min-width: 700px) {
  .career-block{
    margin-top: 0px;} }
@media (min-width: 1024px) {
  .career-block{
    } }
.career-block > p{
  margin: 50px 0px;
  padding: 0px 10%;
}
.job-blob-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;}
  @media (min-width: 700px) {
    .job-blob-container{
      padding: 0px 6%;
      margin-top: 40px;} }
  @media (min-width: 1024px) {
    .job-blob-container{

      } }
.job-blob{
  max-width: 50%;
  margin: 20px 16%;
  padding: 20px 40px;
  background-color: #644E53;
  box-shadow: -18px 20px 0px #D3C5AE;}
  @media (min-width: 700px) {
    .job-blob{
      max-width: 200px;
      margin: 10px 20px;
      padding: 20px 40px;} }
  @media (min-width: 1024px) {
    .job-blob{
      max-width: 160px;
      margin: 10px 20px;
      padding: 24px 40px;
      } }
  .job-blob:nth-child(1){
    border-radius: 53% 47% 51% 49% / 40% 62% 38% 60%;
    animation: wobble 12s linear alternate infinite;}
  .job-blob:nth-child(2){
    border-radius: 51% 49% 52% 48% / 36% 54% 46% 64% ;
    animation: wobble2 12s linear alternate infinite;}
  .job-blob:nth-child(3){
    border-radius: 38% 62% 58% 42% / 35% 48% 52% 65% ;
    animation: wobble3 12s linear alternate infinite;}
  .job-blob:nth-child(4){
    border-radius: 56% 44% 58% 42% / 35% 55% 45% 65% ;
    animation: wobble4 12s linear alternate infinite;}
    @keyframes wobble {
      25%{ border-radius: 45% 55% 45% 55% / 50% 51% 49% 50%;}
      50%{ border-radius: 40% 60% 49% 51% / 43% 43% 57% 57%;}
      75%{ border-radius: 51% 49% 62% 38% / 36% 36% 64% 64% ;}
      100%{ border-radius: 47% 53% 54% 46% / 45% 46% 54% 55%;}}
    @keyframes wobble2 {
      25%{ border-radius: 46% 54% 49% 51% / 43% 32% 68% 57%;}
      50%{ border-radius: 40% 60% 49% 51% / 52% 39% 61% 48%;}
      75%{ border-radius: 27% 73% 41% 59% / 55% 39% 61% 45%;}
      100%{ border-radius: 45% 55% 34% 66% / 62% 39% 61% 38%;}}
    @keyframes wobble3 {
      25%{ border-radius: 64% 36% 58% 42% / 35% 64% 36% 65%  ;}
      50%{ border-radius: 58% 42% 53% 47% / 40% 57% 43% 60% ;}
      75%{ border-radius: 57% 43% 46% 54% / 48% 47% 53% 52% ;}
      100%{ border-radius: 54% 46% 38% 62% / 57% 41% 59% 43% ;}}
    @keyframes wobble4 {
      25%{ border-radius: 49% 51% 51% 49% / 41% 50% 50% 59%;}
      50%{ border-radius: 53% 47% 55% 45% / 34% 56% 44% 66%;}
      75%{ border-radius: 60% 40% 61% 39% / 32% 61% 39% 68%;}
      100%{ border-radius: 51% 49% 55% 45% / 40% 58% 42% 60%;}}
.job-blob h4{
  border-bottom: 2px solid #FDFCF3;
  padding-bottom: 10px;
}
.job-blob p{
  color: #FDFCF3;
  font-size: 12px;
  line-height: 16px;
}

/* GARDUATE SECTION*/

.graduate-block{
  background-color: #FFF8F2;
  padding: 100px 0px 100px 0px;
}
.graduate-block h2, .graduate-block p{
  text-align: center;}
  @media (min-width: 700px) {
    .graduate-block h2, .graduate-block p{
      text-align: left;
      padding: 0px 0px 0px 100px;} }
  @media (min-width: 1024px) {
    .graduate-block h2, .graduate-block p{
      padding: 0px 0px 0px 100px;} }
.grad-blob-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 100px auto;}
  @media (min-width: 700px) {
    .grad-blob-container{
      width: 100%;
      margin: 50px auto;} }
  @media (min-width: 1024px) {
    .grad-blob-container{

      } }
.grad-blob{
  margin: 60px 5% 0px 5%;}
  @media (min-width: 700px) {
    .grad-blob{
      margin: 0px 5%;
      max-width: 260px;} }
  @media (min-width: 1024px) {
    .grad-blob{
      max-width: 280px;} }
.grad-blob img{
  margin: 0 auto;
  width: 100%;
  border-radius: 30% 70% 39% 61% / 42% 36% 64% 58% ;}
.grad-blob h4{
  font-size: 18px;
  line-height: 22px;
  color: #332531;
  margin-bottom: -20px;}
  @media (min-width: 700px) {
    .grad-blob h4{
      font-size: 20px;
      line-height: 24px;} }
  @media (min-width: 1024px) {
    .grad-blob h4{
      font-size: 22px;
      line-height: 25px;} }
.grad-blob p{
  font-size: 12px;
  line-height: 14px;
  color: #332531;
  text-align: center;
  width: 100%;
  margin: 15px 0px 30px 0px;
  padding: 0;}
  @media (min-width: 700px) {
    .grad-blob p{
      font-size: 12px;
      line-height: 16px;
      margin: 20px 0px;} }
  @media (min-width: 1024px) {
    .grad-blob p{
      } }


/* KEY LEARNING OUTCOMES*/

div.learningOutcomes-info{
  display: flex;
  flex-wrap: wrap;
  width: 100%;}
  @media (min-width: 700px) {
    div.learningOutcomes-info{
      } }
  @media (min-width: 1024px) {
    div.learningOutcomes-info{
      flex-wrap: nowrap;} }
div.learningOutcomes-info h2{
  text-align: left;
  padding: 10% 10% 0px 10%;}
div.learningOutcomes-info p{
  text-align: left;
  padding: 0px 10%;
  line-height: 1.6;}
div.learningOutcomes-info img{
  width: 60%;
  padding: 0px 0px 0px 100px;}

.learningOutcome-blob-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.learningOutcome-blob-container > div{
  max-width: 240px;
  padding: 20px;
  margin: 0px 10px;
}

/* WHY WINTHROP BLOCK */

.why-winthrop-block img{
  width: 100%;
}


/* APPLY NOW */
.apply-now-block{
  margin-bottom: 0;
}
.apply-now-block div:first-child{
  background-color: #FFF8F2;
  border-radius: 50% 50% 50% 50% / 100% 100% 0% 0% ;
  padding: 40px 0px 0px 0px;
  margin-bottom: 0px;}
.apply-now-block div:last-child{
  text-align: center;
  margin: 0px;
  padding: 20px 0px 100px 0px;
  background-color: #FFF8F2;
}
.apply-now-block p{
  margin-bottom: 50px;
}
/*PARENTS PAGE*/

/* SPLASH IMAGE */
div.parent-splash{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
}
h1.parent-splash{
  font-family: 'Raleway-ExtraBold', Tahoma, sans-serif;
  color: #FDFCF3;
  padding: 0px 10px;
  text-align: center;
  margin: 0 auto !important;
  text-shadow: 2px 2px 8px #332531;
  text-transform: uppercase;
  position: relative;
  }
  @media (min-width: 700px) {
    h1.parent-splash{
      } }
  @media (min-width: 1024px) {
    h1.parent-splash{
      font-size: 60px;
      font-weight: 900;
      width: 100%;} }
h2.parent-splash{
  font-family: 'Raleway-ExtraBold', Tahoma, sans-serif;
  color: #FDFCF3;
  padding: 0px 10px;
  text-align: center;
  margin: 0 auto !important;
  text-shadow: 2px 2px 8px #332531;
  text-transform: uppercase;}
  @media (min-width: 700px) {
    h2.parent-splash{
      } }
  @media (min-width: 1024px) {
    h2.parent-splash{
      font-size: 40px;
      font-weight: 900;
      width: 100%;
      padding: 10px 0px;} }

/* WHAT IS IT */

.whatDoesItMean-block-parents{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 100px 0px;
}
.whatDoesItMean-block-parents h2{
  text-transform: uppercase;
  text-align: right;
  max-width: 400px;
  align-self: flex-start;
  padding: 20px;

}
.whatDoesItMean-block-parents p{
  text-align: left;
  max-width: 500px;
  padding: 40px;
}

/* EMPLOYMENT OUTLOOK */
